<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="images/favicon.ico">
		<title>Mini SNS | Bootstrap and NodeJS</title>
		<!-- Bootstrap core CSS -->
		<link href="../public/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<!-- Custom styles for this template -->
		<link href="../public/css/jquery.bxslider.css" rel="stylesheet">
		<link href="../public/css/style.css" rel="stylesheet">
	</head>
	<body>
		<!-- Navigation -->
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class=""><a href="index.html">Home</a></li>
						<li class=""><a href="blog.html">Blog</a></li>
						<li><a href="#contact">Album</a></li>
						<li class="active"><a href="about.html">About</a></li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li><a target="" href=""><i class="glyphicon glyphicon-log-in"></i>  Đăng nhập</a></li>
					</ul>

				</div>
				<!--/.nav-collapse -->
			</div>
		</nav>

		<div class="container">
		<header>
			<a href="index.html"><img src="../public/images/logo.png"></a>
		</header>


		<div class="row">

			<div class="col-md-12">
				<article class="blog-post">
					<div class="blog-post-body">
						<h2><a href="">About my team</a></h2>
						<div class="blog-post-text">

							<div class="row">
								 <div class="col-md-offset-2 col-md-8">
						            <div class="modal-content">
						                <div class="modal-body">
						                    <center>
							                    <img src="https://scontent.fsgn2-1.fna.fbcdn.net/v/t1.0-9/17634847_1404563326281227_5140743837930292682_n.jpg?oh=213c57b149e5306b34a01a41d6b516f9&oe=59905D4D" width="200" height="200" border="0" class="img-circle"></a>
							                    <h3 class="media-heading">Vũ Minh Trí <small>HCMUS</small></h3>
							                    <span><strong>Skills: </strong></span>
							                        <span class="label label-warning">HTML/CSS/Bootstrap</span>
							                        <span class="label label-success">Database/SQL</span>
							                        <span class="label label-success">PHP/Laravel</span>
							                        <span class="label label-danger">.Net/C#</span>
							                    </center>
							                    <hr>
							                    <center>
							                    <p class="text-left"><strong>About me: </strong><br>
							                        Là người ham học giỏi, thích cập nhật các công nghệ mới, tự nhận mình là người học khá chậm, nhưng luôn cố gắng siêng năng để bù cái ngu!!!</p>
							                     <p>Ahihi!</p>
						                    </center>
						                </div>
						            </div>
						        </div>
							</div>

							<div class="row" style="margin-top: 40px">
								 <div class="col-md-offset-2 col-md-8">
						            <div class="modal-content">
						                <div class="modal-body">
						                    <center>
							                    <img src="http://placehold.it/200x200" width="200" height="200" border="0" class="img-circle"></a>
							                    <h3 class="media-heading">Trần Thuỳ Bích Trâm<small> HCMUS</small></h3>
							                    <span><strong>Skills: </strong></span>
							                        <span class="label label-warning">HTML5/CSS</span>
							                        <span class="label label-info">Adobe CS 5.5</span>
							                        <span class="label label-info">Microsoft Office</span>
							                        <span class="label label-success">Windows XP, Vista, 7</span>
							                    </center>
							                    <hr>
							                    <center>
							                    <p class="text-left"><strong>About me: </strong><br>
							                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sem dui, tempor sit amet commodo a, vulputate vel tellus.</p>
						                    </center>
						                </div>
						            </div>
						        </div>
							</div>

						</div>
					</div>
					
					<div class="blog-post-body row">
					<h2>My school</h2>
						<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJi8ok1NYndTERG7J2_l8oMz8&key=AIzaSyDpuPNE7kV0qxCBJgNViU13nwI-GzRsxGc" allowfullscreen></iframe>
					</div>
				</article>
				
				
		</div>  

		<footer class="footer">

			<div class="footer-socials">
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-instagram"></i></a>
			</div>

			<div class="footer-bottom">
				<i class="fa fa-copyright"></i> Copyright 2017. All rights reserved.<br>
			</div>
		</footer>

		<!-- Bootstrap core JavaScript
			================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="../public/js/bootstrap.min.js"></script>
		<script src="../public/js/jquery.bxslider.js"></script>
		<script src="../public/js/mooz.scripts.min.js"></script>
		<script type="text/javascript">
            
            $('#offcanvasleft').click(function() {
              $('.row-offcanvas-left').toggleClass('active');
            });


    </script>
	</body>
</html>