<% include block/header.ejs %>  
                <!--Create Album-->

        <div class="container">
        <header>
            <a href="index.html"><img src="/images/logo.png"></a>
        </header>
 
        <div class="container">
        
        <div class="row">
                
                <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="/album">Album</a></li>
                      <li class="breadcrumb-item"><a href="/">Culture photos</a></li>                     
                    </ol>
            <div class="col-lg-12" style="margin-bottom: 20px">
                <h1 class="page-header">Cultural photos</h1>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="/images/culture/img_01.jpg" >
                    <img src="/images/culture/img_01.jpg" alt="" style="width:300px; height: 170px">
                    
                </a>
                <center>
                    <div class="caption">
                        <p><strong>
                            Người đăng: Nguyễn Vân Anh<br>
                            Lượt view: 70</strong></p>
                    </div>
                </center>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="/images/culture/img_02.jpg">
                    <img class="img-responsive" src="/images/culture/img_02.jpg" alt="" style="width:300px; height: 170px">
                    
                </a>
                <center>
                    <div class="caption">
                        <p><strong>
                            Người đăng: Lê Thanh Xuân<br>
                            Lượt view: 50</strong></p>
                        </div>
                </center>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="/images/culture/img_03.jpg">
                    <img class="img-responsive" src="/images/culture/img_03.jpg" alt="" style="width:300px; height: 170px">
                    
                </a>
                <center>
                    <div class="caption">
                        <p><strong>
                            Người đăng: Nguyễn Gia Bảo<br>
                            Lượt view: 70</strong></p>
                    </div>
                </center>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="/images/culture/img_04.jpg">
                    <img class="img-responsive" src="/images/culture/img_04.jpg" alt="" style="width:300px; height: 170px">
                    
                </a>
                <center>
                    <div class="caption">
                        <p><strong>
                            Người đăng: Nguyễn Yến Nhi<br>
                            Lượt view: 50</strong></p>
                    </div>
                </center>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="/images/culture/img_05.jpg">
                    <img class="img-responsive" src="/images/culture/img_05.jpg" alt="" style="width:300px; height: 170px">
                    
                </a>
                <center>
                    <div class="caption">
                        <p><strong>
                            Người đăng: Trần Mỹ An<br>
                            Lượt view: 50</strong></p>
                    </div>
                </center>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="/images/culture/img_06.jpg">
                    <img class="img-responsive" src="/images/culture/img_06.jpg" alt="" style="width:300px; height: 170px">
                   
                </a>
                <center>
                    <div class="caption">
                        <p><strong>
                            Người đăng: Trần Quốc Khải<br>
                            Lượt view: 60</strong></p>
                    </div>
                </center>
            </div>
            
        </div>
 
<% include block/header.ejs %>  